.bookshelf {
    width: 200px;
    height: 300px;
}

#bookshelf-left {
    left: 0;
}

.form {
    position: absolute;
    width: 700px;
    height: 980px;
    left: 50%;
    margin-left: -350px;
    top: 22px;
    background: #4267B2;
    border-radius: 5px;
}.form-header {
    position: relative;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 59px;
    text-align: center;

    color: #FFFFFF;
} 

.form-content {
    position:relative;
    top: 30px;
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
} 
.uf_city {
    padding-left: 0px;
    padding-right: 0px;
}

.rua_num {
    padding-left: 0px;
    padding-right: 0px;
}

.submit {
    padding-top: 20px;
}

.submit_button {
    width: 100%;
    border-radius: 20px;
    height: 99px;
    background-color: #FFF500;
    font-size: 26px;
}

#bookshelf-right {
    position: relative;
    left: 50%;
    margin-left: 354px;
    top: 380px;
}